<html>
<head>
	<meta charset="utf-8">
	<title>  {{DATABASE.NAME}} :: MVC </title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="{{WEB.ROOT}}css/bootstrap/css/bootstrap.min.css" >

	<!-- Optional theme -->
	<link rel="stylesheet" href="{{WEB.ROOT}}/css/bootstrap/css/bootstrap-theme.min.css" >
	<link rel="stylesheet" href="{{WEB.ROOT}}css/style.css" ></script>

	<style type="text/css">
		.caption-info{
			min-height: 60px;
		}
	</style>
	<!-- Latest compiled and minified JavaScript -->
	<script src="{{WEB.ROOT}}js/jquery.min.js" ></script>
	<script src="{{WEB.ROOT}}/css/bootstrap/js/bootstrap.min.js" ></script>
	<script src="{{WEB.ROOT}}js/main.js"></script>

	<script>
		setWebUrl('{{WEB.ROOT}}'); 
		$( document ).ready(function() {
			loadCatalog();
		});
	
	</script>
</head>

<div class="page-header">
	<div class="media">
	  <div class="media-left hidden-xs">
	    <a href="#">
	      <img class="media-object" src="{{WEB.ROOT}}/img/logo.png"  alt="logo">
	    </a>
	  </div>
	  <div class="media-body">
	   	<h1>  {{DATABASE.NAME}}  MVC    <br>
        <small> Simple example - {{MVC.NAMESPACE}} </small></h1>
	  </div>
	</div>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		  <!-- Brand and toggle get grouped for better mobile display -->
		  <div class="navbar-header">
			<a class="navbar-brand" href="#"> RYMAPP </a>
		  </div>
	  
		  <!-- Collect the nav links, forms, and other content for toggling -->
		  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
			  <li ><a href="{{WEB.ROOT}}">Home </a></li>
			  <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Catalog <span class="caret"></span></a>
				<ul id="catalog-list" class="dropdown-menu">
				</ul>
			  </li>
			</ul>
			
		  </div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	  </nav>
</div>

<body>
	<div class="container">
		{{APP.CONTAINER}}
	</div> 
</body>

<div class="page-footer">
	Simple MVC created with RYMMVCCreator
	<br> Project website: <a href="https://github.com/RafaelPuertoV/RYMMVCCreator"> RYMMVCCreator </a>
	<br> Created by <a href="https://github.com/RafaelPuertoV"> RafaelPuertoV </a>
</div>
</html>
